[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	branch = master
[submodule "powerline/src"]
	path = powerline/src
	url = https://github.com/banga/powerline-shell.git
[submodule "zsh/src"]
	path = zsh/src
	url = https://github.com/robbyrussell/oh-my-zsh.git
